In [1]:
mystring = "hello"

In [2]:
mylist = []

for letter in mystring:
    mylist.append(letter)
    print(mylist)
mylist

['h']
['h', 'e']
['h', 'e', 'l']
['h', 'e', 'l', 'l']
['h', 'e', 'l', 'l', 'o']

['h', 'e', 'l', 'l', 'o']

In [3]:
#flattened out for loop
mylist = [letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [4]:
mylist = [x for x in 'word']

In [5]:
mylist

['w', 'o', 'r', 'd']

In [6]:
mylist = [num for num in range(0,11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
mylist = [num**2 for num in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
mylist = [x for x in range(0,11) if x%2 ==0]

In [9]:
mylist

[0, 2, 4, 6, 8, 10]

In [14]:
celcius = [0,10,20,34]
fahrenheit = [((9/5)*temp +32) for temp in celcius]
fahrenheit

[32.0, 50.0, 68.0, 93.2]

In [15]:
fahrenheit = []

for t in celcius:
    fahrenheit.append((9/5)*t + 32)
    print(fahrenheit)
fahrenheit

[32.0]
[32.0, 50.0]
[32.0, 50.0, 68.0]
[32.0, 50.0, 68.0, 93.2]

[32.0, 50.0, 68.0, 93.2]

In [16]:
list1 = [2,4,6]
list2 = [100,200,300]

z = [x*y for x in list1 for y in list2]
z

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]